<%= render 'shared/navbar-signed-in' %>
<div class="container">
  <div class="my-formations-title">
    <h1 style="text-align: center; font-family: 'Cantarell', sans-serif; color: #142850;" class="title-my-formations mb-5 mt-5">Ma formation <%= image_tag current_student.avatar, witdh: 60, height: 60, class: "rounded-circle" %></h1>
  </div>
  <div class="my-formations">
    <div class="my-formations-card1">
      <%= render 'shared/formation-student' %>
    </div>
  </div>
</div>
