<div class="card border-primary mb-3" >
  <div class="card-header" style="text-align: center;">Formateurs</div>
  <div class="card-body text-primary">
    <h5 class="card-title" style="text-align: center;">FORMATIONS</h5>
    <p class="card-text">Vous pouvez créer votre propre formation et y inclure vos cours.</p>
  </div>
</div>

<div class="card border-primary mb-3" >
  <div class="card-header" style="text-align: center;">Formateurs</div>
  <div class="card-body text-primary">
    <h5 class="card-title" style="text-align: center;">QUIZZ</h5>
    <p class="card-text">Vous pouvez créer un quizz sur votre lesson, accessible par vos stagiaires.</p>
  </div>
</div>

