<div class="card border-primary mb-3" style="border-radius: .5rem;">
  <div class="card-header" style="text-align: center;">Formateurs</div>
  <div class="card-body text-primary">
    <h5 class="card-title" style="text-align: center;">FLASHCARD</h5>
    <p class="card-text">Vous pouvez créer des cartes mémos sur vos cours, accessibles par vos stagiaires.</p>
  </div>
</div>

<div class="card border-primary mb-3" style="border-radius: .5rem;" >
  <div class="card-header" style="text-align: center;">Stagiaires</div>
  <div class="card-body text-primary">
    <h5 class="card-title" style="text-align: center;">ACCES FORMATIONS</h5>
    <p class="card-text">Vous avez accès à votre formation, les cours inclus dans cette formation, des quizz ainsi que des cartes mémos proposés par votre formateur.</p>
  </div>
</div>
