<div class="footer">

  <div class="footer-copyright">
    <p class="nom-compagny-footer">Formacours</p>
  </div>

  <div class="footer-phrase">
    <%= link_to "contact", '#', target: :blank %>
  </div>

  <div class="footer-links">
    <a href="#"><i class="fab fa-discord"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-twitch"></i></a>
  </div>

</div>
