<div class="card w-20" >
  <div class="card-body">
    <h5 class="card-title" style="text-align: center;"><%= lesson.name %></h5>
    <p style="text-align: center;"><%= link_to "Voir le cours", lesson_path(lesson),class:"btn btn-outline-primary"  %></p>
  </div>
</div>

