<div class="card w-20 mb-1" id="card-lesson" style="border-radius: .5rem;">
  <div class="card-body">
    <p style="text-align: center; font-family: 'Cantarell', sans-serif; color: #142850;">Cours n°<%= lesson.id %></p>
    <h5 class="card-title" style="text-align: center; font-family: 'Cantarell', sans-serif; color: #142850;"><%= lesson.name %></h5>
    <% if teacher_signed_in? %>
    <p style="text-align: center;"><%= link_to "options", lesson_path(lesson),class:"btn btn-outline-primary"  %></p>
    <% end %>
  </div>
</div>

