<div class="card-product">
  <%= image_tag student.avatar, witdh: 60, height: 60, class: "rounded-circle" %>
  <div class="card-product-infos">
    <p><%= student.first_name %> <%= student.last_name %></p>
  </div>
</div>
