#navbar1{
  background: linear-gradient(120deg,#3957f4 23%,#2f87ee 90%);
}


#btn-navbar {
  margin: 15px;
  color: white;
  font-family: 'Kanit', sans-serif;
}

.big-nav-bar{
  background: linear-gradient(120deg,#3957f4 23%,#2f87ee 90%);
  height: 500px;
  display: flex;
  justify-content: space-around;
  text-align: center;
  align-items: center;


}

.hero {
  padding-top: 100px;
  height: 700px;
  width: 700px;
}

.card-nav{
  height: 100px;
}

.nom-compagny{
  color: white;
  font-family: 'Kanit', sans-serif;
}

#link-navbar{
  color: white;
  font-family: 'Kanit', sans-serif;
}

.class-main{
  background-color: #EDF2F7;
}

