// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";
@import "components/components-navbar1";
@import "components/dl-lessons";
@import "components/footer";


.text-intro {
color: white;
font-family: 'Roboto Mono', monospace;
}

.title1 {
  text-align: center;
  padding-top: 200px;
}

.card-features {
  display: flex;
  justify-content: space-around;
}

.card {
  width: 400px;
}
